<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="false">
  <!-- 每次把请求对象封装到RequestContextHolder中取 -->
  	<listener>
  		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  	</listener>
  	<!-- 只对post请求有效 -->
  	<filter>
  		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>	
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<!-- 强行使用上述设置的编码 -->
			<init-param>
				<param-name>forceEncoding</param-name>
				<param-value>true</param-value>
			</init-param>
  	</filter>
  	<filter-mapping>
  		<filter-name>CharacterEncodingFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<!-- 
  			“/” 为tomcat默认的请求处理器，所有请求都交给该servlet来处理。
  			  默认为tomcat/conf/web.xml中配置的org.apache.catalina.servlets.DefaultServlet
  		-->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- druid视图监控 -->
	<servlet>
		<servlet-name>statViewServlet</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>	
		<!-- 配置用户名 -->
		<init-param>
			<param-name>loginUsername</param-name>
			<param-value>lhb</param-value>
		</init-param>
		<init-param>
			<param-name>loginPassword</param-name>
			<param-value>123</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>statViewServlet</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
</web-app>
